<div class="top">
<div>
    <a href="https://pedservices.py.gov.in/" target="_blank"><img src="https://pedservices.py.gov.in/Content/images/light-bulb-122x122.png" alt="state logo" class="toplogo"></a>
</div>
<div class="deptname">
    <a href="https://pedservices.py.gov.in/" target="_blank" class="departmentname">புதுவை மின்துறை<br>government of puducherry<br>electricity department</a>
</div>
<div class="colorthem">
    <p><b>Colour:</b></p> 
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem">One</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem">Two</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthemthree">Three</a>
    <p><b>Font Size:</b></p>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem" title="Decrease font size">A-</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem" title="Normal font size">A</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthemthree" title="Increase font size">A+</a>
</div>
<div class="chooselanguage">
    <p><b>Choose Language:</b></p> 
    <a href="https://pedservices.py.gov.in/" target="_blank" class="chooselanguage">English</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="chooselanguage">தமிழ்</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="chooselanguage">తెలుగు</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="chooselanguage">മലയാളം</a>
</div>
</div>
    <div class="navbar">
        <div class="menubar">
            <ul class="navul">
                <li class="navli">
                    <a href="#" target="_self" class="navlink">
                        <div class="navicon">
                            <i class="fa-solid fa-house-chimney"></i>
                        </div>
                        <div class="icontext">HOME</div>
                    </a>
                </li>
                <li class="navli">
                    <a href="#" target="_self" class="navlink">
                        <div class="navicon">
                            <i class="fa-solid fa-credit-card"></i>
                        </div>
                        <div class="icontext">SERVICES</div>
                    </a>
                </li>
                <li class="navli">
                    <a href="#" target="_self" class="navlink">
                        <div class="navicon">
                            <i class="fa-solid fa-certificate"></i>
                        </div>
                        <div class="icontext">QUICK PAYMENT</div>
                    </a>
                </li>
                <li class="navli">
                    <a href="#" target="_self" class="navlink">
                        <div class="navicon">
                            <i class="fa-regular fa-note-sticky"></i>
                        </div>
                        <div class="icontext">CHEQUE/DD CHALLAN</div>
                    </a>
                </li>
                <li class="navli">
                    <a href="#" target="_self" class="navlink">
                        <div class="navicon">
                            <i class="fa-solid fa-users-line"></i>
                        </div>
                        <div class="icontext">CONSUMER REGISTRATION</div>
                    </a>
                </li>
                <li class="navli" class="navlast">
                    <a href="#" target="_self" class="navlink" >
                        <div class="navicon" class="naviconlast">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </div>
                        <div class="icontext" class="naviconlast">LOG IN</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="newservice">
         <div>
            <img src="assets\image\new.gif" alt="New logo" class="newsservicesimg">
            <p class="newsservicepar">Online submission of New service Connection is live now - </p>
            <a href="https://pedservices.py.gov.in/Services/Application/Applicationservices" target="_blank" class="newservicelink">Click to Apply</a>
            <img src="assets\image\new.gif" alt="New logo" class="newsservicesimg2">
          </div>
    </div>
    <div class="mainwebsite">
        <div>
           <p class="mainwebsite">To visit Electricity Department Main Website - </p>
           <a href="https://electricity.py.gov.in/" target="_blank" class="mainwebsite">Click Here</a>
        </div>
   </div>
   <div class="welcome">
    <div>
       <p class="welcome"><marquee direction="left">Welcome to Electricity Department website... </marquee></p>
    </div>
</div>