<div class="top">
<div>
    <img src="https://pedservices.py.gov.in/Content/images/light-bulb-122x122.png" alt="state logo" class="toplogo">
</div>
<div class="deptname">
    <a href="https://pedservices.py.gov.in/" target="_blank" class="departmentname">புதுவை மின்துறை<br>government of puducherry<br>electricity department</a>
</div>
<div class="colorthem">
    <p><b>Colour:</b></p> 
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem">One</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem">Two</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthemthree">Three</a>
    <p><b>Font Size:</b></p>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem" title="Decrease font size">A-</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthem" title="Normal font size">A</a>
    <a href="https://pedservices.py.gov.in/" target="_blank" class="colorthemthree" title="Increase font size">A+</a>
</div>
</div>
